body {
    padding-top: 1%;
    padding-bottom: 1%;
    background:black;
}

.navbar-default{
    color:#ffffff;
    border-color:aqua;
    margin-bottom: 1%;
    background-color: #e4b9b9;
}

.jumbotron{
    padding-top: 0;
    color:white;
    background:#000;
}

.input-group,
.input-group-lg {
    margin-bottom: 5px;
}

.mix-button {
    background:#e4b9b9;
    color:white;
    border-color:aqua;
}
